[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
sh = "*"

[dev-packages]
pylint = "*"
isort = "*"
pytest = "*"
pytest-cookies = "*"
tox = "*"
mkdocs = "*"
mkdocs-material = "*"
